<div>
  <h1>Here, you can Add components</h1>
  <div class="row">
    <div class="col-6">
      <nb-card>
        <nb-card-header>Bar</nb-card-header>
        <nb-card-body>
          <app-chartjs-bar></app-chartjs-bar>
        </nb-card-body>
      </nb-card>
    </div>
    <div class="col-lg-6">
      <nb-card>
        <nb-card-header>Area Stack</nb-card-header>
        <nb-card-body>
          <app-echarts-area-stack></app-echarts-area-stack>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
</div>
