<div class="container">
  <div class="row">
    <div class="col-6">
      <nb-card>
        <nb-card-header>Bar</nb-card-header>
        <nb-card-body>
          <app-echarts-bar></app-echarts-bar>
        </nb-card-body>
      </nb-card>
    </div>
    <div class="col-lg-6">
      <nb-card>
        <nb-card-header>Area Stack</nb-card-header>
        <nb-card-body>
          <app-echarts-area-stack></app-echarts-area-stack>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <nb-card>
        <nb-card-header>Temperature</nb-card-header>
        <nb-card-body>
          <app-temperature></app-temperature>
        </nb-card-body>
      </nb-card>
    </div>
    <div class="col-6">
      <nb-card>
        <nb-card-header>Bar</nb-card-header>
        <nb-card-body>
          <app-echarts-line></app-echarts-line>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <app-user-activity
        *ngIf="qualityData"
        [data]="qualityData"
      ></app-user-activity>
    </div>
  </div>
</div>
